*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

.center{
	text-align: center;
}

a {
	text-decoration: none;
}
body {
	background-color: #4171D6;
}


/* 헤더 */
.header_frame{
	width: 100%;
	padding: 10px;
	display: grid;
	grid-template-columns: 10% 70% 20%; 
	gap: 10px;
}

.header_frame_h{
	grid-column: 1;
}

.frame_header {
	background-color: #4171D6;
	padding: 11px 20px;
	color: #fff;
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 900;
}



.header_frame_b{
	grid-column: 2;
}

.top-bar__menu-box-1 > ul ul {
	display: none;
} 

/* 변수 생성 */
:root {
	--site-width: 1200px;
}

/* 사이트 최소 너비 설정 */
.con-min-width {
	min-width: var(--site-width);
}

/* 실질적으로 메뉴에 사용할 너비 설정 */
.top-bar > .con {
	width: var(--site-width);
}

/* 실질적으로 메뉴에 사용할 너비 설정 */
.top-bar__menu-box-1 > ul > li {
	display: inline-block;
}

/* 문자열 가운데 정렬 */
.top-bar__menu-box-1 {
	text-align: center;
}

/* 모든 메뉴 박스의 배경을 검은색으로 하고 글자를 하얀색으로 꾸며보자 */
.top-bar__menu-box-1 ul {
	background-color: rgb(85, 85, 85);
}

/* 모든 메뉴 크기 조절 */
.top-bar__menu-box-1 ul > li > a {
	display: block;
	font-size: 1rem;
	padding: 10px 20px;
	color: #fff;
}

/* 모든 메뉴를 마우스 인식 시 배경색을 변경 */
.top-bar__menu-box-1 ul > li:hover > a {
	background-color: #55555581;
}

/* 2차 메뉴가 보이도록 만들어 보자 */
.top-bar__menu-box-1 > ul > li:hover > ul {
	display: block;
}

/* 1차 메뉴를 제한 구역으로 설정 */
.top-bar__menu-box-1 > ul > li {
	position: relative;
    width: 25%;
}

/* 2차 메뉴에 absolute 값을 주기 */
.top-bar__menu-box-1 > ul > li > ul {
	position: absolute;
	top: 100%;		
	left: 0;		
	width: 100%;		
}


.header_frame_f{
	grid-column: 3;
}

.header_frame_b div a{
	color: #cecece;
}


.header_login_btn{
	margin-right: 20px;
	color: #fff;
}
.header_regist_btn{
	margin-right: 20px;
	color: #b4b4b4;
}




/* main */

main {
	padding-top: 5rem;
	width: 80%;
	margin: 0 auto;
}

.main_header {
	text-align: center;
	font-size: 1.7rem;
	color: #fff;
	padding-bottom: 30px;
}

.main_container{
	background-color: white;
	padding: 2rem;
	display: grid;
	
	grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
}



/* 에러페이지 */
.error_box{
	width: 60%;
	min-width: 400px;
	background-color: rgb(255, 255, 255);
	padding: 3rem;
	margin: 50px auto;
	text-align: center;
}

.error_box h1{
	color: red;
	padding-bottom: 20px;
}

.error_out_btn{
	color: black;
}
.error_out_btn:hover{
	color: rgb(117, 117, 117);
}