body {
	text-align: center;
}
.container {
	text-align: left;
	width: 900px;
	height: 650px;
	border: none;
	position: relative;
	display: inline-block;
}

.div {
	border: 1px dotted #000;
	width: 400px;
	height: 250px;
	display: inline-block;
	margin: 15px;
	float: left;
}


h3 {
	background-color: #000;
	color: white;
	text-align: center;
	width: 850px;
	height: 80px;
	line-height: 80px;
	clear: both;
}