/* *은 전체선택자 */
* {
	color: skyblue;
}
/* 타입선택자 : 특정태그 이름을 가진 모든 요소를 변경 */
h1 {
	color: red;
}

/* 클레스 선택자 : */
.font-color {
	color: orange;
}
/* id 선택자 */
#p1 {
	color: black;
}
/* 그룹 선택자 */
em, strong {
	color: purple;
}