h1 {
	background-color: rgb(127, 255, 212);
	border: 10px dotted #000;
	background-clip: content-box;
	display: inline-block
}

span {
	background-color: blanchedalmond;
	border: 10px dotted #000;
	background-clip: content-box;
	display: inline-block;
	padding: 20px;
	
	
}