.container {
	background-color: gray;
	margin: 10px;
	width:  90vw;
	height: 60vh;
	display: flex;
	flex-direction: row;
/*  flex-direction = 주축을 지정하는거
	row(가로축) row-reverse(가로축 역행)
	column(세로축) column-reverse(세로축 역행) */
	flex-wrap: wrap;
/* flex-wrap = width 조절 
	nowrap(flex기본설정) wrap(사용자 사이즈 설정) */
	flex-flow: row wrap; 
	/* flex-flow로 위에 direction 과 wrap 을 동시적용 시킬수도 있다 */
	/* justify-content: flex-end; */
	/* justify-content: = 주축을 기준으로 정렬
	현재주축 row 
	flex-start(주축의 시작 부터) 
	flex-end(주축의 시작 반대쪽부터)
	center(가운대 정렬) 
	space-between(주축기준 좌우측 끝을 붙이고 가운대에넣고 공백의크기를 같게한다)
	space-around(주축기준 좌우측 끝을 살짝띄우고 가운대에넣고 공백의크기를 같게한다) */
	align-items: space-around;
/* align-items:교차축을 기준으로 정렬을 어떻게 할거냐
		flex-start(주축 쪽)
		flex-end(주축 반대쪽)
		center(중간으로)
		space-around(적절히 조절해줌 위아래 마진값 같게)
		baseline(특정한거만 튀어나옴)
		stretch(인라인 값에 height값을 안줬을때 최대길로
} */
}
.item {
	width: 150px;
	height: 150px;
	background-color: skyblue;
	border: 1px solid #000;
	box-sizing: border-box;
}

.item2 {
	/* align-self: center; */
	/* align-self : 특정위치 조절
		flex-end(영역값내 바닥으로붙임)
		center(영역값내 중앙으로 붙임)  */
}