body {
	background-color: rgb(190, 190, 190);
	padding: 0px;
	margin: 0px;
}
h1{
	margin: 20px;
	text-align: center;
	color: rgb(11, 31, 26)
}
.container {
	width: 800px;
	margin: 20px auto;
}

li {
	float: left;
	display: inline-block;
	width: 85px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-right: 1px gray solid;
	background-color: #c0b1f7;
	box-sizing: border-box;
}
a {
	display: inline-block;
	width: 85px;
	height: 40px;
	text-decoration: none;
	color: black;

}
li:hover {
	background-color: #815ffa;
}
li:

span {
	ba
}
#top {
	position: fixed;
	right: 10%;
	bottom: 10%;
	color: black;
	font-size: 5px;
	background-color: rgb(255, 255, 255);
	border: 1px solid #000;
	text-align: center;
	font-weight: 900;
	width: 20px;
	height: 13px;
}